.content {
  padding-top: 5rem;
}
.aside {
  width: 7%;
  background-color: #5cafb5;
}
.conversations {
  width: 30%;
  height: 80vh;
  overflow: auto;
  position: relative;
}
.conversation__data {
  width: 60%;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #c5d2d4;
  box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}
