.content {
  padding-top: 5rem;
}
.aside {
  width: 7%;
  background-color: #5cafb5;
}
.conversations {
  width: 30%;
  height: 80vh;
  overflow: scroll;
  position: relative;
}
.conversation__data {
  width: 60%;
}
